# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Excel temporary files
~$*
*.tmp

# Raw data
data/raw/*.xlsx
data/raw/~$*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/